.menu-product-carousel {
    position: relative;
    overflow: hidden;
    padding: 26px;
}

.menu-container {
    padding: 0 10px;
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
   
}

.menu-pre-btn,
.menu-next-btn {
    border: none;
    width: 60px;
    height: 10vh;
    position: absolute;
    top: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
}

.menu-next-btn {
    right: 0;
}

.menu-next-btn p,
.menu-pre-btn p {
    font-size: 50px;
    background-color: rgba(255, 255, 255, 0.436);
    box-shadow: 0px 0px 10px 1px black;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.menu-mycard {
    min-width: 25.5%;
    max-width: 300px;
    height: 300px;
    margin: 0px;
    cursor: pointer;
}