*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#shimmer{
    border: 2px solid black;
    /* background-color: aqua; */
}
#shimmer .shimmer_h2{
    margin-left: 1rem;
}
#shimmer_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 98vw;
    /* height: 182vh; */
    margin: auto;
    
}
.shimmer_child{
    /* width: 20%; */
    height: 35vh;
    margin: 1rem;
    border: 2px solid #d5c3c3;
    background-color: rgb(244 243 242);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex: 1;

}
.shimmer_item{
    /* border: 2px solid rgb(226, 27, 27); */
    background-color: #d3cccc;
    border-radius: 17%;
    width: 12vw;
    height: 19vh;
}
.shimmer_item_name{
    /* border: 2px solid rgb(2, 173, 59); */
    background-color: #e0dfdf;
    border-radius: 10px;
    width: 12vw;
    height: 10vh;
}
.myImage{
    width: 20vw;
    height: 50vh;
    margin: 20px;
}

/* Header */
header{
    /* border: 2px solid black; */
    /* position: relative; */
    box-shadow: 0px -10px 21px 0px #343537d1;
    padding: 0 2rem;
    margin-bottom: 15px;
    font-size: larger;
}

#header{
width:100%;
height:60px;
margin: auto;
display: flex;
align-items: center;
justify-content: space-between;
}

#header .location{
    color:#929292;
}

#header .location .spam{
    margin-right: 1rem;
    text-decoration: underline;
    font-weight: bold;
    color: black;
}

#header ul {
    display: flex;
    gap:4rem;
}

#header ul li{
    list-style: none;

}
#header ul li:hover, #header .search:hover, #header .location .spam:hover{
    color:orangered;
    cursor: pointer;
}
.Mylocation{
    color: #f61c1c;
    text-decoration: underline;
}


/* Login */

#Login-form{
    background-image: linear-gradient( 135deg, #81FFEF 10%, #F067B4 100%);
    height: 100vh;
}

#Login-Container{
    padding: 8px;
    width: 50%;
    margin: auto;
    height: 50vh;
    margin-top: 9%
     
}
.login-child {
    margin: 0.5rem 0rem;
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    padding-left: 0.1rem;
}
#login {
    margin: 28px 11%;
    width: 17%;
    font-size: 1.1rem;
    border-radius: 10px;
    padding: 2px 0;
    color: #650b0b;
    border: 1.9px solid #1b2551;
    cursor: pointer;
    background-color: #a2dede;
    margin-left: 12rem;
}
.login-child input {
    height: 35px;
    border: none;
    padding-left: 0.3rem;
    border-radius: 10px;
}
.forgot-password{
    color: blue;
    font-size: 1.1rem;
    cursor: pointer;
}
.forgot-password:hover{
    color: #f61c1c;
    text-decoration: underline;
}

/* SignUp */

#signUp-form{
    background-image: linear-gradient( 135deg, #81FFEF 10%, #F067B4 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#signUp-container{
    border: 0px solid grey;
    display: flex;
    flex-direction: column;
    width: 40%;
    background: white;
    box-shadow: 0px 0px 3px 0px black;
    border-radius: 8px;
}
#signUp-container input{
    height: 5.5vh;
    border: none;
    border-radius: 6px;
    padding: 0.2rem;
    box-shadow: 0px 2px 4px 0px #717e8e;
    border: 1px solid grey;
    margin: 1.5rem 1rem 0;
    font-size: 15px;
}

#signUp-container .error{
    margin: 1rem 1rem 0;
    color: red;
    font-weight: 600;
}

.SignUp-Button{
    height: 5.5vh;
    border: none;
    border-radius: 6px;
    padding: 0;
    box-shadow: 0px 2px 1px 0px #5282bc;
    border: 1px solid #1279b1;
    margin: 1.5rem 1rem 0;
    color: white;
    font-size: medium;
    background-color: #127acc;
    cursor: pointer;
}
.already-account{
    height: 4.5vh;
    margin: 0.7rem auto;
    font-weight: 600;
}
.already-account > span{
    color: #2929ce;
    font-weight: 600;
    cursor: pointer;
}

.login-with-Google{
    height: 5.5vh;
    border: none;
    border-radius: 6px;
    padding: 0.4rem 0;
    box-shadow: 0px 2px 4px 0px #13417a;
    margin: 0 1rem 1.6rem;
    text-align: center;
    background-color: #127acc;
    color: white;
    font-size: large;
    cursor: pointer;
}