/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@300;400&display=swap'); */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family:'Segoe UI', sans-serif; */
}
:root {
    --shimmer-bg-color: #e5e5e5;
    --shadow:0px -10px 21px 0px #343537d1;
  }

/* Shimmer effect */
#shimmer{
    border: 2px solid rgb(193 187 178);
}
#shimmer .shimmer_header{
    margin-bottom: 2rem;
    width: 100%;
    height: 13vh;
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    align-items: center;
    box-shadow: 0px -10px 21px 0px #343537d1;
}
#shimmer .shimmer_header .home-shimmer {
    background-color: var(--shimmer-bg-color);
    width: 9%;
    height: 3vh;
    border-radius: 8px;
}
#shimmer .shimmer_header .search-shimmer {
    background-color: var(--shimmer-bg-color);
    width: 43%;
    height: 3vh;
    border-radius: 8px;
}
#shimmer .shimmer_header .cart-shimmer {
    background-color: var(--shimmer-bg-color);
    width: 6%;
    height: 7vh;
    border-radius: 11px;
}

#shimmer .big-carousel-shimmer {
    height: 39vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 3rem 0; 
}
#shimmer .big-carousel-shimmer .child-big-carousel-shimmer {
    height: 38vh;
    width: 29%;
    border-radius: 18px;
    background-color: var(--shimmer-bg-color);
}
#shimmer .circle-carousel-shimmer {
    height: 24vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#shimmer .circle-carousel-shimmer .child-circle-carousel-shimmer {
    background-color: var(--shimmer-bg-color);
    height: 23vh;
    width: 12%;
    border-radius: 50%;
}

#shimmer #shimmer_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding: 0rem 2rem;
}
#shimmer #shimmer_list .shimmer_child{
    height: 35vh;
    margin: 1rem 0.8rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 18%;
    /* flex: 1 1; */

}
#shimmer #shimmer_list .shimmer_child .shimmer_item{
    background-color: var(--shimmer-bg-color);
    border-radius: 14%;
    height: 24vh;
    width: 84%;
}
#shimmer #shimmer_list .shimmer_child .shimmer_item_name{
    background-color: #e0dfdf;
    border-radius: 10px;
    width: 76%;
    height: 4vh;
}/* Shimmer END */

.myImage{
    width: 20vw;
    height: 50vh;
    margin: 20px;
}

/* Header */
header{
  position: fixed;
    left: 0;
    box-shadow: 0px -10px 21px 0px #343537d1;
    padding: 0 2rem;
    width: 100%;
    z-index: 5;
    background-color: white;
    font-size: larger;
}

#header{
width:100%;
height:80px;
margin: auto;
display: flex;
align-items: center;
justify-content: space-between;
}

#header .location{
    color:#929292;
}

#header .location .spam{
    margin-right: 1rem;
    text-decoration: underline;
    font-weight: bold;
    color: black;
}

#header ul {
    display: flex;
    /* gap: 4rem; */
    width: 17%;
    margin: 11px -11px 0 0px;
    /* border: 2px solid red; */
    height: 7vh;
}

#header ul a{
    text-decoration:none;
    list-style: none;
}
#header ul a .CartImage{
    width: 25%;
    position: relative;
    top: -9px;
    left: 95px;
}
#header ul a .cartName{
    z-index: 1;
    color: black;
    font-weight: 600;
    font-size: larger;
}
#header ul a .cartName span{
    color: white;
    font-size: smaller;
}


#header ul li:hover, #header .search:hover, #header .location .spam:hover{
    color:rgb(241, 177, 25);
    cursor: pointer;
}
.search{
width: 30%;
}
.search > input{
    position: relative;
    top: -1px;
    width: 99%;
    padding-left: 8px;
    font-size: 18px;
    border-radius: 9px;
    height: 7vh;
    border: none;
    box-shadow: 0px 2px 6px #AFAFAD;
}
/* .search-icon{
    width: 9%;
    height: 5vh;
    position: relative;
    left: 20rem;
    top: -1.3rem;
} */
.Mylocation{
    color: #f61c1c;
    /* text-decoration: underline; */
}

/* Main */
#main{
    width: 87%;
    margin: 0 auto;
}
#mid-body{
    position: relative;
    top: 5rem;
}


/* Login */

#Login-form{
    background:url("./MyPage/ImageFolder/LoginBackgroun.jpg");
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
}

#Login-Container{
    padding: 15px;
    width: 45%;
    height: 65vh;
    margin: 0 2rem;
    border-radius: 10px;
    backdrop-filter: brightness(0.6);
    color: floralwhite;
    display: flex;
    flex-direction: column;
}
#Login-Container>h1{
    margin: 3px auto .5rem;
    border-bottom: 1px solid;
}
.login-child {
    margin: 0.5rem 0rem;
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    padding-left: 0.1rem;
}
.login_Forgot{
    margin: 2rem 0rem;
    flex-direction: row !important;
    justify-content: center !important;
}
#login {
    margin: 0px 2rem;
    width: 17%;
    font-size: 1.1rem;
    border-radius: 6px;
    padding: 2px 0;
    color: #650b0b;
    border: 1.9px solid #1b2551;
    cursor: pointer;
    background-color: #ecd0d0;
    transition: .7s;
}
#login:hover{
    background-color: rgb(222, 189, 69);
    color: white;
    transition: .5s;
}
.login-child input {
    height: 35px;
    border: none;
    padding-left: 0.1rem;
    background: none;
    border-bottom: 1px solid white;
}
.login-child input::placeholder{
    color: #979c94;
}
.dont-account{
    font-size: 1.3rem;
    margin: 0px auto;
    display: table;
}

.dont-account > a{
    text-decoration: none;
    color: rgb(16 246 101);
    font-weight: 500;
}
.dont-account > a:hover{
    color: #e0a0ba;
    text-decoration: underline;
}

.forgot-password{
    color: #ceff33;
    font-size: 1.1rem;
    cursor: pointer;
}
.forgot-password:hover{
    color: #e0a0ba;
    text-decoration: underline;
}

/* SignUp */

#signUp-form{
    background: url("./MyPage/ImageFolder/Pizza-Background.jpg");
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#signUp-container{
    border: 1px solid #7a7a7a;
    display: flex;
    flex-direction: column;
    width: 40%;
    border-radius: 8px;
    padding: 1rem;
    backdrop-filter: brightness(0.5);
}
#signUp-container > h2{
    color: white;
    margin: 0 auto 0.5rem;
}
#signUp-container input{
    height: 6.5vh;
    border: none;
    padding: 1.2rem 0;
    margin-bottom: 0.1rem;
    font-size: 15px;
    border-bottom: 1px solid #ebcccc;
    background: transparent;
    color: white;
}
#signUp-container input:focus{
    outline: none;
}

#signUp-container input::placeholder{
    color: white;
}

#signUp-container .error{
    margin: 1rem auto 0;
    color: rgb(223 248 0);
    font-weight: 600;
}

.SignUp-Button{
    height: 5.5vh;
    border: none;
    border-radius: 6px;
    padding: 0;
    box-shadow: 0px 2px 1px 0px #5282bc;
    border: 1px solid #1279b1;
    margin: 1.5rem 1rem 0;
    color: white;
    font-size: medium;
    background-color: #127acc;
    cursor: pointer;
}
.already-account{
    height: 4.5vh;
    margin: 0.7rem auto;
    font-weight: 600;
    color: white;
}
.already-account >a{
    text-decoration: none;
    color: #5cfb18;
    font-weight: 600;
    cursor: pointer;
}


.login-with-Google{
    height: 5.5vh;
    border: none;
    border-radius: 6px;
    padding: 0.4rem 0;
    box-shadow: 0px 2px 4px 0px #13417a;
    margin: 0 1rem 1.6rem;
    text-align: center;
    background-color: #127acc;
    color: white;
    font-size: large;
    cursor: pointer;
}
.carousal-desc{
    margin-left: 2rem;
    font-size: 1.7rem;;

}

#footer{
    margin-top: 5rem;
    border: 2px solid red;
    background-color: aquamarine;
}